<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>何楚</title>
    <meta name="keywords" content="{{keywords}}">
    <meta name="description" content="{{description}}">
    <meta name="format-detection" content="telephone=no, email=no">
    <meta name="applicable-device" content="mobile">
    <link rel="dns-prefetch" href="//web.yystatic.com">
    <link rel="dns-prefetch" href="//web1.yystatic.com">
    <link rel="dns-prefetch" href="//web2.yystatic.com">
    <script src="./flexible.js"></script>
    <style>
        input{font-size: 6vw;margin: 1vw;height: 8vw;}
        #all{width: 60vw;}
        .cons, .src{display: flex;align-items: center;}
        .cons input{display: block;width: 30%;}
        #btn{
            width: 30vw;
            height: 10vw;
            line-height: 10vw;
            background:green;
            color: #fff;
            text-align: center;
            font-size: 5vw;
        }
    </style>
</head>
<body>
<div class="src">
    <input type="text" id='all' />
    <div id='btn'>提交</div>
</div>

<div class="cons">
    <input type="text" id='pre' />
    <input type="text" id='incls' />
    <input type="text" id='end' />
</div>
</body>
</html>
